body{
    background-color:#3B0086;
}

img{
    width:100px;
}

h2{
    color:#EDEBD7;
}

p{
   text align: center;
   color:#6B0504; 
   text-decoration: line-through;
}

ul{
   color:#191102;
}

li{
   color:#432534;
}

table{
   font-style: inherit;
}

form{ 
    border-width: thin;
    border-style: solid;
    border-color:black;
}



